body {
    font-family: "Josefin Sans", "sans-serif"
}

#main {
    height: 100vh;
    position: relative;
    color: white;
    width: 100%;    
    background-image: url("./images/rainbowComputer2.jpeg");
    background-size: cover;
    background-position: center;
}

#headshot {
    padding-top: 45px;
    max-height: 300px;
    width: auto;
}

#headshotArea {
    margin: auto;
}

.container {
    width: 90%;
}

#mainRow {
    height: 100vh;
}

h3 {
    font-family: "Cinzel Decorative", "cursive"
}